 /* Style the tab */

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 960px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
}

img {
    margin-left:40px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    background: #fff;
    display: none;
    padding: 20px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.coingate-information-header {
    font-size: 18px !important;
}

.sign-up-button {
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 3px;
}

.sign-up a:hover {
    background-color: #ddd;
}